Task: Analyze a Network Sniffer
      -------------
- Description:  Analysis The Provided simple network sniffer that captures network traffic.
- Objective:  Analysis & Understand how network sniffers work and how to analyze them.


---------------------------------------------------------------


Task: Obfuscation with Control Flow Flattening
               -------------
- Description:  Analysis This program that uses control flow flattening to obfuscate its logic.
- Objective: Analysis & Understand control flow flattening and how to de-obfuscate it.


---------------------------------------------------------------


Task: Rootkit
    -------------
- Description: Analysis The Provided basic rootkit that hides its own process.
- Objective: Analysis & Understand how rootkits work and how to detect and analyze them.


---------------------------------------------------------------


Task: Steganography-Based Data Exfiltration
           -------------
Description: Analysis The Provided program that hides data within an image file.
Objective: Analysis & Understand how data can be hidden and how to extract it.


---------------------------------------------------------------


Task: Keylogger
 -------------
Description: Analysis The Provided Program That a more advanced keylogger that hooks into system APIs.
Objective: Analysis & Develop skills in detecting and analyzing keyloggers.


---------------------------------------------------------------


Task: Function Pointer Obfuscation
       -------------
Description: Analysis The Provided program that uses function pointers to obfuscate the flow of execution.
Objective: Analysis & Understand function pointers and how to trace code execution.


---------------------------------------------------------------






